##
## Redis Authentication parameters
auth:
  createDatabase: true
  enabled: true
  sentinel: true
  password: "${redis.password}"
  existingSecret: "${redis.existingSecret}"// The name of an existing secret with Redis® credentials
  existingSecretPasswordKey: "${redis.existingSecretPasswordKey}"// Password key to be retrieved from existing secret
  usePasswordFiles: "${redis.usePasswordFiles}"// Mount credentials as files instead of using an environment variable